@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.ms_section_green {
    background-color: green;
}

.ms_section_blue {
    background-color: royalblue;
}

.ms_anchor {
    text-decoration: none;
    color: yellow;
}